@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Product>

@if (User.Identity?.IsAuthenticated ?? false)
{
    @foreach (var product in Model)
    {
        <div>
            <p>Product Name: @product.Name</p>
            <p>Product Price: @product.Price</p>
            <p>Product Stock: @product.Stock</p>

            <button>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
            </button>

            <button>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </button>
        </div>
    }
}